@charset "utf-8";
.record_detail {
  overflow: hidden;
  height: 100%;
  .xs-container{
    min-height:100%;
    background:#fff;
  }
  #wrapper {
    font-family: PingFangTC-Regular;
    .record_detail_top {
      width: 100%;
      height: 1.98rem;
      display: flex;
      flex-direction: column;
      a {
        width: 100%;
        height: 100%;
      }
      p {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .listItem {
        margin-top: .44rem;
        font: .36rem/1.4 Tahoma, Microsoft YaHei, Apple LiGothic medium, Helvetica, Arial, PingFangSC-Regular, "\5b8b\4f53", sans-serif;
        .nameTit {
          color: #000;
          padding-left: .3rem;
        }
        .price {
          padding-right: .3rem;
          font-size: .28rem;
          color: #333333;
          b {
            font-size: .36rem;
          }
        }
      }
      .listBot {
        color: #858C9E;
        margin-top: .2rem;
        font: .28rem/1.5 Tahoma, Microsoft YaHei, Apple LiGothic medium, Helvetica, Arial, PingFangSC-Regular, "\5b8b\4f53", sans-serif;
        .nameSta {
          padding-left: .3rem;
        }
        .timeTitl {
          padding-right: .3rem;
        }
      }
    }
  }
}
